#content {
    font-size: 14px;
}
  .logo-font {
    
    font-family: 'Abril Fatface', cursive;
      color:white;
      font-size: 30px;
      text-shadow: 2px 2px 6px #000000;
}

h2 {
    color: rgb(0,51,153);
}

  
  
                                                                        /*IMG HOVER*/

.btn2 {
    cursor: pointer;
    width:200px;
    margin: auto;
    background-color: transparent !important;
    border-top:0;
    border-bottom: 1px solid rgb(120,120,120) !important;
    
}

.btn3 {
    padding-top:13px;
    cursor: pointer;    
    margin: auto;
    background-color: transparent !important;    
}

.btn33{
    border-bottom: 0;
    border-color: rgb(120,120,120);    
}

.btn2:hover {
    filter: contrast(1.75);
}

.btn3:hover {
    filter: contrast(1.75);
}

.fb-button-title{
    width:150px;
    text-align: center;
}

a.custom-link{
    color: rgb(80,80,80);
}

a.custom-link:hover{
   font-weight: bold;
   text-decoration: none;
}


                                                                /*NICE HOVER BUTTONS*/

*, *:before, *:after {
	box-sizing: border-box;
}

body {
    --def: white; 	
    --inv: rgb(102,153,51);
/*    justify-content: center;*/
/*    align-items: center;*/
}

html {	
/*	font-family: 'Playfair Display', serif;*/
}

div {margin-bottom: 0rem;}
div:last-child {margin-bottom: 0;}

.btn {		
	position: relative;	
	padding: 0.5rem 0rem;	
	font-size: 1rem;
	color: white;
/*	letter-spacing: 1.1rem;*/
	text-transform: uppercase;
	transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: white !important;   
        transition-delay: .6s ;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .4s;
        
}




  body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
/*  background-color: rgb(247,247,247);*/
  
}


                                                                                /*U¯YWANE W WIELU MIEJSCACH*/
                                                                                
.pz-mt-5 {
    margin-top:5%;
}

.pz-mt-10 {
    margin-top:10%;
}

                                                                                /*SIDEBAR AND BODY*/
            
#sidebar-wrapper {
    height: 100vh;
    width:20vw !important;
/*background-color:blue;*/
 
    
    /* The image used */
/*  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/
/*

    background-image: url(" https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
*/
    
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     text-shadow: 2px 2px 3px #000000;
}  

.pz-bip {
    padding-top:30px;
    width: 200px;
}



.pz-navbar {
      z-index: 0;
    background-image: url("sidebar_photo.jpg");
}


.pz-sidenav {    
    position: fixed;
}


#content {
  margin-left: 20vw;
  padding: 0;
  height: 1000px;
}

                                                                                /*NAVBAR UNDERLINE*/

/*.link:after{
  content: '';
  position: absolute;
  width: 0; height: 6px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #3d9c56; kolor znikajacego podkreslenia
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: #3d9c56; kolor podkreslenia
}*/



                                                                                

          


    
                                                                                /*HOME*/

.home_bgrd {   
    
    width: 100%;
    height: 100vh;
}

.home_bgrd_s {
    width:100%;
}

.pz-home-text {
  text-align: justify;
  color:white;
  width:400px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
     text-shadow: 2px 2px 4px #000000;
}

.pz-home-text_s {
/*  text-align: justify;*/
  color:white;
  width:50%;
  position: absolute;
  top: 0%;
  left: 35%;
/*  transform: translate(-50%, -50%);*/
text-shadow: 2px 2px 2px #000000;}

.pz-niepelnosprawni {
    position: absolute;
    top:15px;
    right:15px;
    width:280px;
    float:left;
    
}

                                                                       /*aaAAADRUKARKA*/

.pz-breadcrumb {
   background-color: rgb(247,247,247);
}

.pz-a {
    padding: 0 5px 0 5px;
     background-color: rgb(247,247,247) !important;
}

.pz-aa {
    background-color: rgb(247,247,247) !important;
}

/*.pz-home-text {
  text-align: justify;
  width:30%;
  color:white;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: translate(-50%, -50%);
}*/

.twoColumns{
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.pz-container {
/*    background-color: white;*/
    margin:70px;
}

.pz-vid-container {
    margin-bottom: 3%;
}

.pz-vid {
    width: 100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    
    
}

                                                                /*REHABILITACJA*/

.pz-section {
    padding:25px;
    margin:0px 30px 0px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:20px;
    background-color:white;
    width:100%;
}

.pz-section-2 {
    border: 1px solid rgb(220,220,220);
    border-radius:20px;
    padding:25px;
}

.div-reh-1 {
    
    background-color: green;
    
}

.div-reh-2 {
     
    
    margin:auto; 
    padding-left: 15px;
    padding-right: 15px;
}

.div-reh-3 {
    
    
    
}

.div-reh-4 {
    
    padding-top: 30px;
    
    text-align: justify;
}

.row {
    padding:15px;
}


                                                                    /*AKTUALNOŒCI*/

/*.col-sm-4 {
    margin:10px;
    padding:0;
}*/

.akt_section {
/*    border-color: black;
    border-width: 1px;*/
    border:1px solid darkgrey;
    border-radius: 10px;
}


.akt_img {
    border-radius:8px 8px 0px 0px;
    width:100%;
}

.akt_title {
  text-align: center;  
}

.akt_descr {
    text-align: center;

}

/*TERAPIA I REKREACJA*/

.ter_kloc {
    width:100%;
}

/*underline*/
a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*PAGINATION*/


.pz-pagination a {
  color: rgb(100,110,181);
  float: left;
  padding: 4px 11px;
  text-decoration: none;
  transition: background-color .3s;
}

.pz-pagination a.active {
  background-color: rgb(100,110,181);
  color: white;
}

.pz-pagination a:hover:not(.active) {background-color: #ddd;}

.akt_img {    
    max-height:280px;
}

a {
color: rgb(100,110,181);
}


.row {
    margin-right:0px;
}

#content {
    background-image: url('main_photo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.pz-home-text_s a {
    color: white;
    text-decoration: underline;
}


                                  






									/*media*/

@media (max-width: 768px) {
  #page-content-wrapper {
    margin-top: 45px;
  }
  
  #sidebar-wrapper {
    display: none;
  }
  
  #content {    
  margin-left: 0px;
  }
  
  .pz-home-text {
      left:50%;
      
  }
  
  .pz-container {

    margin:10px;
  }

.pz-niepelnosprawni {
    top:80%;    
}
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;    
  }

  #page-content-wrapper {
    margin-left: 250px;
    min-width: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {				
    .twoColumns{
        -webkit-column-gap: 0px;
           -moz-column-gap: 0px;
                column-gap: 0px;
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }		
}

@media (max-width:1000px){
    .btn2 {
        width:150px;
    }
}
